tr > td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

::ng-deep .p-tree {
  border: none !important;
  padding: 0 !important;
}

.p-inputgroup {
  height: 39px;
}

p-autocomplete {
  width: 100%;
}

.icons-table {
  width: 60px;
}

.status-done {
  background-color: #c8e6c9;
  color: #256029;
}

.status-busy {
  background-color: #ffd8b2;
  color: #805b36;
}

.status-notdone {
  background-color: #ffcdd2;
  color: #c63737;
}

.customer-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
